[Unit]
Description=Kodi For Alice Service
After=network.target

[Service]
User=kodiforalice
WorkingDirectory=/srv/kodiforalice
ExecStart=/srv/kodiforalice/venv/bin/python /srv/kodiforalice/myapp.py
Restart=always

[Install]
WantedBy=multi-user.target